<html>
<head>
<title>Computing Service</title>

<link rel="stylesheet" href="{{url_for('client.static',filename='css/bootstrap.min.css')}}">
<script type="text/javascript" src="{{url_for('client.static',filename='jquery-3.3.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('client.static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript">

function update(){
    var data={};
    if ($('#type').val()!=''){
        data['type']=$('#type').val();
    }
    if ($('#name').val()!=''){
        data['name']=$('#name').val();
    }
    if ($('#user').val()!=''){
        data['user']=$('#user').val();
    }
    if ($('#status').val()!='all'){
        data['status']=$('#status').val();
    }
    $.get(" {{config['addr']}}/api/v1/tasks",data,
                function(result){
                    var date=new Date();
                    var content="";
                    $.each(result,function(key,value){
                        content+="<tr class='item'>";
                        content+="<td style='word-wrap:break-word;'>"+value["id"]+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["description"]+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+JSON.stringify(value["config"])+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["priority"]+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["life_span"]+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["max_tries"]+"</td>";
                        date.setTime(value["submitted"]*1000);
                        content+="<td style='word-wrap:break-word;'>"+date.toLocaleString()+"</td>";
                        date.setTime(value["last_updated"]*1000);
                        content+="<td style='word-wrap:break-word;'>"+date.toLocaleString()+"</td>";                      
                        content+="<td style='word-wrap:break-word;'>"+JSON.stringify(value["comments"])+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["type"]+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["name"]+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["user"]+"</td>";
                        content+="<td style='word-wrap:break-word;'>"+value["status"]+"</td>";
                        content+="</tr>";
                        
                    });
                    content+="</table>";
                    $('tr').remove('.item');
                    $('#content').append(content);
                }
    );
};
$(document).ready(function(){
    update();
    setInterval("update()",5000);
});
</script>
</head>
<body>
<table id ="content" class="table table-bordered table-hover" style="table-layout:fixed">
    <thead class='thead-dark'>
        <tr>
            <th>id</th>
            <th>description</th>
            <th>config</th>
            <th>priority</th>
            <th>life_span</th>
            <th>max_tries</th>
            <th>submitted</th>
            <th>last_updated</th>         
            <th>comments</th>
            <th>type</th>
            <th>name</th>
            <th>user</th>
            <th>status</th>
        </tr>
    </thead>
    <tr class="table-info">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input id="type" type="text" class="form-control"></td>            
        <td><input id="name" type="text" class="form-control"></td>
        <td><input id="user" type="text" class="form-control"></td>
        <td>
            <select id="status" class='form-control'>
                <option>all</option>
                <option>submitted</option>
                <option>wating</option>
                <option>processing</option>
                <option>done</option>
                <option>failed</option>
            </select>
        </td>
    </tr>
</table>
</body>
</html>
