<html>
<head>
<title>Computing Service</title>

<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body>

<div class="container">
    <br>
    <br>
    <br>
    <p class="text-center">
        <font size="8"><b>Welcome to neutuse</b></font>
        <hr>
    </p>
    <p class="text-center">
        <font size="4">
            neutuse is a flexible serive oriented framework designed for connectome reconstrucion.<br>
            You can use <a href="https://github.com/ephemera2015/neutuse/wiki/HTTP-APIs">HTTP APIs</a> 
            to post, query and update <a href="/web/tasks">tasks</a> and <a href="/web/services"> services </a>
        </font>
    </p>
</div>
</body>
</html>
