{% extends "base.html" %}

{% block script %}

function add_service_item(item){
    var date=new Date();
    var content="";
    content+="<tr class='item'>";
    content+="<td style='word-wrap:break-word;'>"+item["id"]+"</td>";
    content+="<td style='word-wrap:break-word;'>"+item["type"]+"</td>";
    content+="<td style='word-wrap:break-word;'>"+item["name"]+"</td>";
    content+="<td style='word-wrap:break-word;'>"+JSON.stringify(item["schema"])+"</td>";
    content+="<td style='word-wrap:break-word;'>"+item["description"]+"</td>";
    content+="<td style='word-wrap:break-word;'>"+item["mode"]+"</td>";
    content+="<td style='word-wrap:break-word;'>"+item["push_url"]+"</td>";
    content+="<td style='word-wrap:break-word;'>"+item["created"]+"</td>";
    content+="<td style='word-wrap:break-word;'>"+item["last_active"]+"</td>"; 
    content+="<td style='word-wrap:break-word;'>"+item["status"]+"</td>";                   
    $('#content').append(content);
}

function clear(){
    $('tr').remove('.item');
}

function update(){
    {% if id_ %}
        $.get(" {{config['addr']}}/api/v1/services/"+{{ id_ }},
                    function(result){
                        clear();
                        add_service_item(result);
                    }
        );
    {% else %}
        $.get(" {{config['addr']}}/api/v1/services",
                    function(result){
                        clear();
                        $.each(result,function(key,value){
                            add_service_item(value);          
                        });
                    }
        );
    {% endif %}
    
};
$(document).ready(function(){
    update();
    setInterval("update()",5000);
});
{% endblock %}


{% block content %}
<table id ="content" class="table table-bordered table-hover" style="table-layout:fixed">
    <thead class='thead-dark'>
        <tr>
            <th>id</th>
            <th>type</th>
            <th>name</th>
            <th>schema</th>
            <th>description</th>
            <th>mode</th>
            <th>push_url</th>
            <th>submitted</th>
            <th>last_active</th>
            <th>status</th>
        </tr>
    </thead>
</table>
{% endblock %}
